@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/*place global styles here */
html,
body {
	@apply h-full overflow-hidden;
}

@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Fira Code';
	src: url('/fonts/FiraCode.ttf');
	font-display: swap;
}

.main-textarea {
	@apply h-[50vh] w-full my-5 text-sm;

	&.as-code {
		font-family: 'Fira Code', monospace;
	}
}
